/preprocessing/car/*
/preprocessing/music/*
/preprocessing/noise/*
/preprocessing/speech/*

/train/car/*
/train/music/*
/train/noise/*
/train/speech/*

/eval/car/*
/eval/music/*
/eval/noise/*
/eval/speech/*

/unsplited/car/*
/unsplited/music/*
/unsplited/noise/*
/unsplited/speech/*